@media screen and (max-width: 600px) {
  header .navigation ul {
    flex-direction: column;
    gap: 2rem;
  }
  .movie-card {
    flex-direction: column;
    width: 300px;
    align-items: center;
  }
  .movie-info {
    gap: 20px;
    padding-bottom: 14px;
  }
  .img-container,
  .img-container img {
    width: 100%;
    object-fit: cover;
  }
  #movies {
    align-items: center;
    gap: 20px;
  }
  .img-description {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  header .navigation ul {
    flex-direction: column;
    gap: 1rem;
  }
  .movie-card {
    flex-direction: column;
    width: 550px;
    align-items: center;
  }
  .img-container{
    width: 100%;
  }
  .img-container img{
    width: 100%;
 }
  .img-description {
    width: 100%;
  }
}
