*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100vh;
}
.container {
  
  max-width: 600px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #1d293d;
  box-shadow: 2px 4px 2px 1px;
  padding: 20px;
}
.search-container {
  border-radius: 11px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin-bottom: 22px;
}
#search {
  background-color: transparent;
  color: white;
  border: snow 1px solid;
  padding: 12px;
  margin-right: 10px;
  border-radius: 6px;
}
#search-button {
  border-radius: 6px;
  border: 1px solid black;
  background-color: #ffb825;
  transition: opacity 300ms;
  color: black;
  cursor: pointer;
}
#search-button:active {
  opacity: 0.5;
}
.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.article-container {
  width: 100%;
  display: flex;
  gap: 40px;
}
.movie-img-container {
  width: 40%;
}
.movie-img-container .movie-img {
  width: 100%;
  object-fit: cover;
}
.movie-ratings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movie-ratings .movie-title,
.movie-ratings .rating {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.about li {
  color: #798599;
}
.genres li {
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
}
.plot,
.actors-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.plot .plot-title,
.actors-title {
  color: white;
  font-size: 22px;
}
.plot .plot-content,.actors {
  color: white;
  width: 72%;
  line-height: 2;
  color: #5b6678;
}
