html {
  background-color: #5f0a87;
}
.title {
  color: #EEE;
  margin: 50px 0px 50px 0px;
  padding-top: 30px;
  font-family: 'Coiny', cursive;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

#library {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 100px 20px 30px 30px;
}
.img-container {
  width: 60%;
  position: relative;
}
.img-container img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.movie-card {
  display: flex;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  margin-right: 24px;
  transition: transform 0.5s ease;
}
.movie-title,
.movie-title-label,
.movie-year-label,
.movie-year {
  color: white;
  font-size: 24px;
  text-align: center;
}
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}
.img-description {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  background-color: #cf1020;
  color: white;
  font-weight: bold;
  bottom: 0px;
  width: 90%;
  text-align: center;
  box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.9);
  padding: 8px;
}
.movie-card:hover {
  transform: scale(1.05);
}
