@media screen and (max-width:800px) {
    .navigation ul {
        flex-direction: column;
        gap: 2rem;
    }
    .movies{
        position: relative;
        margin-top: 50px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .search-container{
        position: relative;
        width: 100%;
        margin-top: 140px;
    }
    .movie-card{
        flex-direction: column;
        width: 70%;
        margin-bottom: 1.5rem;
    }
    .movie-info{
        gap: 30px;
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        object-fit: cover;
    }
    .btn-container button{
        padding: 14px;
        border-radius: 20px;
        margin: 0px;
        font-size: 14px;
    }
    .img-description{
        width: 100%;
        font-size: 0.5rem;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .btn-container button{
       font-size: 1.1rem;
       padding: 0.9rem;
    }
}
@media screen and (min-width:801px) and (max-width:1300px) {
    .navigation ul {
        flex-direction: column;
        gap: 2rem;
    }
    .search-container{
        position: relative;
        margin-top: 150px;
        width: 100%;
    }
    .movies{
        position: relative;
        margin-top: 2rem;
        margin-left: 20px;
    }
    .movie-card{
        width: 60%;
       margin-bottom: 2rem;
    }
}
@media screen and (min-width:1301px) and (max-width:1700px) {
    .movie-card{
        width: 50%;
    }
}